/*Tema 3*/
:root{
    --primary-color: #4FB286;
    --primary-color-dark: #4FB286;
    --secondary-color: #546D64;
    --secondary-color-dark: #3C896D;
    --gray-color: #ccc;
    --gray-color-dark: #333;
}