/*Tema 2*/
:root{
    --primary-color: #427AA1;
    --primary-color-dark: #064789;
    --secondary-color: #A5BE00;
    --secondary-color-dark: #679436;
    --gray-color: #ccc;
    --gray-color-dark: #333;
}