header{
    float: left;
    width: 100%;
    font-family: "NunitoSans-Bold", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

header img{
    width: 150px;
}

header h1{
    color: var(--primary-color);
    font-size: 50px;
    text-shadow: 2px 2px 5px var(--gray-color);
    margin: 0px;
}