#main-menu{
    float: left;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 5px var(--gray-color);
    text-transform: uppercase;
}

#main-menu > ul > li{
   float: left;
   margin: 10px 0;
}

#main-menu > ul > li > a{
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-right: solid 1px var(--gray-color);
}

#main-menu a:hover{
    background-color: var(--primary-color-dark);
}

#main-menu > ul > li > ul{
    display: none;
    position: absolute;
    margin-top: 10px;
}

#main-menu > ul > li > ul > li > a{
    display: block;
    color: white;
    font-size: 18px;
    background-color: var(--secondary-color);
    padding: 15px;
    border-top: solid 1px var(--gray-color);
}

#main-menu > ul > li > ul > li > a:hover{
    background-color: var(--secondary-color-dark);
}

#main-menu > ul > li:hover > ul{
    display: block;
    box-shadow: 2px 2px 5px var(--gray-color);
}

@media (max-width: 700px) {
    #main-menu > ul > li{
        width: 100%;
        margin: 0;
        border-bottom: solid 1px var(--gray-color);
    }

    #main-menu > ul > li > a{
        text-align: center;
        display: block;
        font-size: 16px;
        border-right: none;
    }

    #main-menu > ul > li:hover > ul{
        width: 100%;
    }

    #main-menu > ul > li:hover > ul > li{
        text-align: center;
    }
}