.row {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.main h2{
    text-transform: uppercase;
    margin-top: 40px;
    color: var(--color-primary);
}

.main img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.main .read-more{
    color: white;
    text-decoration: none;
    text-align: right;
    margin-right: 20px;
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 10px;
}

.main .read-more:hover{
    background-color: var(--color-primary-dark);
}

#more-posts{
    display: block;
    color: var(--color-primary);
    margin-top: 40px;
    text-align: center;
}

#more-posts:hover{
    color: var(--color-primary-dark);
}