.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    padding: 25px;
    font-size: 1vw;
}

.flip-card-back h2 {
    color: white;
}

@media screen and (max-width: 700px) {
    .flip-card-back {
        font-size: 3vw;
    }
}