header {
    padding: 60px;
    text-align: center;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    font-size: 40px;
    margin: 0 0 20px;
}

header p {
    margin: 0 0 10px;
}

header div {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}