<footer>
    <div class="container">

        <div class="row">
            <div class="col-xs-6 col-s-3 icon-footer">
                <img src="img/icon-shipping.png" alt="icono de envíos" height="60" />
                <p><strong>Envío gratis</strong> <br> Por $29 de compra</p>
            </div>
            <div class="col-xs-6 col-s-3 icon-footer">
                <img src="img/icon-refund.png" alt="icono de devoluciones gratis" height="60" />
                <p><strong>Devoluciones gratis</strong> <br> Tienes 90 días</p>
            </div>
            <div class="col-xs-6 col-s-3 icon-footer">
                <img src="img/icon-customer-service.png" alt="icono de atención al cliente" height="60" />
                <p><strong>Atención al cliente</strong> <br> 7 días a la semana</p>
            </div>
            <div class="col-xs-6 col-s-3 icon-footer">
                <img src="img/icon-secure.png" alt="icono de pago seguro" height="60" />
                <p><strong>Pago seguro</strong> <br> 100% confianza</p>
            </div>
        </div>

        <p>&copy; Kiko Palomares Academy</p>

    </div>
</footer>