<h1 class="title-products">Vestidos de mujer</h1>

<div class="row">
    <div class="col-xs-12">

        <form>
            <input type="search" class="search-input" name="search" placeholder="Buscar un artículo o una referencia..." />
        </form>

        <select class="select-order">
            <option>Precio más bajo</option>
            <option>Precio más alto</option>
            <option>Por opiniones</option>
            <option>Por descuento</option>
        </select>
    </div>
</div>

<div class="row">

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 1" width="100%" src="img/producto1.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong class="price">$29.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 2" width="100%" src="img/producto2.jpg" />
        <div class="offer">Oferta</div>
        <h3>Vestido cruzado largo con estampado de flores</h3>
        <strong class="price"><del>$59.99</del> $35.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 3" width="100%" src="img/producto3.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Vestido corto con botones estampado</h3>
        <strong class="price">$27.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 4" width="100%" src="img/producto4.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Vestido evasé corto y estampado, con cuello cuadrado</h3>
        <strong class="price">$23.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 5" width="100%" src="img/producto5.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Vestido cruzado y largo con estampado de flores</h3>
        <strong class="price">$41.98</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 6" width="100%" src="img/producto6.jpg" />
        <div class="offer">Oferta</div>
        <h3>Vestido cruzado largo con estampado de flores</h3>
        <strong class="price"><del>$69.99</del> $45.49</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 7" width="100%" src="img/producto7.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Vestido cruzado largo con estampado de flores</h3>
        <strong class="price">$32.48</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 8" width="100%" src="img/producto8.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Vestido cruzado largo con estampado de flores</h3>
        <strong class="price">$45.48</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 9" width="100%" src="img/producto9.jpg" />
        <div class="offer">Oferta</div>
        <h3>Vestido de manga larga</h3>
        <strong class="price"><del>$39.99</del> $23.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 10" width="100%" src="img/producto10.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Vestido de embarazo sin mangas</h3>
        <strong class="price">$17.49</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 11" width="100%" src="img/producto11.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Vestido cruzado estampado de manga larga</h3>
        <strong class="price">$129.00</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 12" width="100%" src="img/producto12.jpg" />
        <div class="offer">Oferta</div>
        <h3>Vestido corto con tirantes</h3>
        <strong class="price"><del>$229.00</del> $149.00</strong>
    </a>

</div>

<ul class="pagination">
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">10</a></li>
</ul>