<aside>
    <div class="widget">
        <h3>Iniciar sesión</h3>
        <form>
            <input name="email" placeholder="Email" type="email">
            <input name="password" placeholder="Password" type="password">
            <input type="submit" value="Entrar">
        </form>
    </div>
   
    <div class="widget">
        <h3>Últimas entradas</h3>
        <ul>
            <li>
                <a href="#">El desarrollo web no es más que copiar y pegar</a>
            </li>
            <li>
                <a href="#">Cómo hacer un slider con HTML y CSS</a>
            </li>
            <li>
                <a href="#">¿Por qué HTML no es un lenguaje de programación?</a>
            </li>
            <li>
                <a href="#">Como poner la primera letra en mayúscula con CSS</a>
            </li>
            <li>
                <a href="#">¿Qué es un lenguaje de marcado?</a>
            </li>
        </ul>
    </div>

    <div class="widget">
        <h3>Frase del día</h3>
        <blockquote>
            La mejor manera de ser un programador es escribir código y estudiar grandes programas que otra gente ha escrito
        </blockquote>
    </div>

</aside>