<section id="content">

    <h1>Últimas Noticias</h1>

    <article>
        <h2>El desarrollo web no es más que copiar y pegar</h2>
        <p>Proin et ligula lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus nec dui dapibus, eleifend quam non, tincidunt mi. Nulla consequat lacinia sem, in tempor nulla tempor a. Phasellus sed metus neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc porta consectetur mauris, nec malesuada felis tempus nec. Vivamus feugiat odio mollis dui semper finibus.</p>
        <a href="#">Leer más >></a>
    </article>

    <article>
        <h2>Cómo hacer un slider con HTML y CSS</h2>
        <p>Proin et ligula lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus nec dui dapibus, eleifend quam non, tincidunt mi. Nulla consequat lacinia sem, in tempor nulla tempor a. Phasellus sed metus neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc porta consectetur mauris, nec malesuada felis tempus nec. Vivamus feugiat odio mollis dui semper finibus.</p>
        <a href="#">Leer más >></a>
    </article>

    <article>
        <h2>¿Por qué HTML no es un lenguaje de programación?</h2>
        <p>Proin et ligula lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus nec dui dapibus, eleifend quam non, tincidunt mi. Nulla consequat lacinia sem, in tempor nulla tempor a. Phasellus sed metus neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc porta consectetur mauris, nec malesuada felis tempus nec. Vivamus feugiat odio mollis dui semper finibus.</p>
        <a href="#">Leer más >></a>
    </article>

    <article>
        <h2>Como poner la primera letra en mayúscula con CSS</h2>
        <p>Proin et ligula lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus nec dui dapibus, eleifend quam non, tincidunt mi. Nulla consequat lacinia sem, in tempor nulla tempor a. Phasellus sed metus neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc porta consectetur mauris, nec malesuada felis tempus nec. Vivamus feugiat odio mollis dui semper finibus.</p>
        <a href="#">Leer más >></a>
    </article>

    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li>...</li>
        <li><a href="#">23</a></li>
    </ul>

</section>