<nav id="main-menu">
    <ul>
        <li>
            <a href="index.html">Inicio</a>
        </li>
        <li>
            <a>Noticias</a>
            <ul>
                <li>
                    <a href="#">Desarrollo web</a>
                </li>
                <li>
                    <a href="#">Programación</a>
                </li>
                <li>
                    <a href="#">Desarrollo Móvil</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="https://academy.kikopalomares.com/" target="_blank">Academia</a>
        </li>
        <li>
            <a href="#">Contacto</a>
        </li>
    </ul>
</nav>