#container{
    display: grid;
    grid-template-areas:    'header header'
                            'sidebar photos';
}

header{
    grid-area: header;
}

#sidebar{
    grid-area: sidebar;
}

#photo-container{
    grid-area: photos;
}

@media only screen and (max-width: 600px) {
    #container{
        grid-template-areas:    'header'
                                'sidebar'
                                'photos';
    }
}

@media only screen and (min-width: 600px) {
    #container{
        grid-template-areas:    'header'
                                'sidebar'
                                'photos';
    }
}

@media only screen and (min-width: 768px) {
    #container{
        display: grid;
        grid-template-areas:    'header header'
                                'sidebar photos';
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1500px) {

}